.react-calendar {
    width: 100% !important;
    background: transparent !important;
    border: none !important;
    font-family: inherit !important;
}

.react-calendar__tile--active {
    background: #0d9488 !important; /* teal-600 */
    border-radius: 12px !important;
    color: white !important;
}

.react-calendar__tile--now {
    background: #ccfbf1 !important; /* teal-50 */
    border-radius: 12px !important;
    color: #0f766e !important; /* teal-700 */
}

.react-calendar__tile:hover {
    background: #f1f5f9 !important;
    border-radius: 12px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f1f5f9 !important;
    border-radius: 8px;
}

/* RF09: Aquí se puede inyectar clases para marcar días ocupados */
.dia-lleno {
    color: #dc2626 !important; /* Rojo si está lleno */
}